@import "@/styles/variables";

.wrapper {
    @include wrapper;

    display: flex;
    padding: 150px 0px;
}

.container {
    width: 50%;

    padding: 20px;

    p {
        font-size: 1.3rem;
        color: $color-white-200;
    }

    img {
        display: block;

        border-radius: 30px;

        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1023px) {
    .wrapper {
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .container {
    }
}
